p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Navbar{
    display: flex;
    align-items: center;
    padding: 30px;
    background-image: url(../images/SPA\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo img{
    max-width: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.navlinks{
    margin-left: auto;
}
.navlinks ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlinks li{
    margin: 0 10px;
    background-color: rgb(111, 222, 152);
}
.navlinks a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: larger;
}
.navlinks a:hover{
    background-color: #555;
    border-radius: 10px;
}
.circletext{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.circletexts{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-around;
}
.box{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid #555;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201, 226, 249);
    gap: 20px;
    justify-content: space-between;
    margin-top: 1%;
}
.textpara{
    font-size: 16px;
    text-align: justify;
    background-color: rgb(201, 226, 249);
}
.homeimg{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
.homeimg1{
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}
.appointmentform{
    background-color: rgb(201, 226, 249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width:100%;
    margin-top: 1%;
    margin: 0 auto;
}
.appointmentform h3{
    margin-bottom: 20px;
}
.appointmentform label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    cursor: pointer;
}
.appointmentform input,
.appointmentform textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.appointmentform input:focus,
.appointmentform textarea:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.appointmentform button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.appointmentform button:hover{
    background-color: #db41a3;
}
.aboutpara{
    position: relative;
    height: 50vh;
    background-image: url(../images/SALON\ HAIR\ WASH.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 3.2;
    background-position: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.content{
    z-index: 2;
    position: relative;
    color: black;
    padding: 20px;
    text-align: justify;
}
.serviceimg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    object-fit: cover; 
    cursor: pointer; 
    border: 2px solid transparent; 
    transition: border-color 0.3s ease;
}
.serviceimg:hover { 
    border-color: #007bff;
}
.serviceimg.selected {
    border-color: #007bff;
}
.braids{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.nails{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.makeup{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.wig{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.spa{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.locks{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}
.servicecontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 10px auto;
}
.contactcontainer{
    line-height: 250%;
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}
.contactimg{
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(171, 135, 222);
}
.formcontainer{
    display: flex;
    flex-direction: column;
    gap: 100px;
    line-height: 50px;
    justify-content: center;
    background-image: url(../images/pink\ salon.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.form2{
    background-color: rgb(201, 226, 249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: o 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.form2 h2{
    margin-bottom: 20px;
    color: #670a0a;
}
.form2 label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.form2 input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form2 button {
    background-color: aqua;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.form2 button:hover{
    background-color: #007bff;
}
.formbox{
    background-color: rgb(201, 226, 249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: o 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    
}
.formbox h2{
    margin-bottom: 20px;
    color: #670a0a;
}
.formbox label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.formbox input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.formbox button{
    background-color: aqua;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.formbox button:hover{
    background-color: #007bff;
}
.active{
    background-color: yellow;
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}
.activeabt{
    background-color: aqua;
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}
.activeser{
    background-color: rgb(218, 95, 168);
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}
.activecont{
    background-color: rgb(153, 120, 238);
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}
.activesin{
    background-color: rgb(223, 223, 21);
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}
.activelog{
    background-color: rgb(4, 85, 97);
    border-radius: 5px;
    padding: 0.6em;
    padding-top: 0.1em;
}