p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Navbar{
    display: flex;
    align-items: center;
    padding: 30px;
    background-image: url(../images/SPA\ 2.jpg);
}
.logo img{
    max-width: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.navlinks{
    margin-left: auto;
}
.navlinks ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navlinks li{
    margin: 0 10px;
    background-color: rgb(111, 222, 152);
}
.navlinks a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: larger;
}
.navlinks a:hover{
    background-color: #555;
    border-radius: 10px;
}
.circletext{
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}
.circletexts{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: space-around;
}
.box{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid #555;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(201, 226, 249);
    gap: 20px;
    justify-content: space-between;
    margin-top: 1%;
}
.textpara{
    font-size: 16px;
    text-align: justify;
    background-color: rgb(201, 226, 249);
}
.homeimg{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 1%;
    background-color: rgb(201, 226, 249);
    margin-bottom: 1%;
}
.appointmentform{
    background-color: rgb(201, 226, 249);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width:100%;
    margin-top: 1%;
}
.appointmentform h3{
    margin-bottom: 20px;
}
.appointmentform label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    cursor: pointer;
}
.appointmentform input,
.appointmentform textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.appointmentform input:focus,
.appointmentform textarea:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.appointmentform button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.appointmentform button:hover{
    background-color: #db41a3;
}
.aboutpara{
    background-image: url(../images/SALON\ HAIR\ WASH.jpg); */
    /* /* opacity: 40%; */
    margin-top: 20px;
    line-height: 250%;
    /* color: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutpara p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}